$main: #d32e41;
$black: rgba(51, 51, 51, 0.8);
$phone: 425px;

//General
body, html {
    height: 100%;
    min-height: 100%;
    overflow: auto;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: grey;
    background-color: #64748c;
}

#app {
    height: 100%;
}

.btn {
    background-color: transparent;
    border: 2px solid $main;
    border-radius: 1px;
    color: $main;

    &:hover{
        cursor: pointer;
        background-color: gray;
        color: $main;
        
    }
}